{% block jego_bundle_schedule %}
    <sw-page class="jego-bundle-schedule">
        <template slot="content">
            <div>
              test
            </div>
        </template>
    </sw-page>
{% endblock %}