{% block jego_bundle_schedule %}
    <sw-page class="jego-bundle-schedule">
        <template slot="content">
            <div>
               {# <sw-data-grid :dataSource="tasks" :columns="columns">
                </sw-data-grid>#}
                <sw-entity-listing
                        v-if="tasks"
                        ref="jegoTasksGrid"
                        class="jego-tasks-list-grid"
                        identifier="jego-task-list"
                        :items="tasks"
                        :columns="columns"
                        :repository="scheduledTaskRepository"
                        :sort-by="sortBy"
                        :sort-direction="sortDirection"
                        detail-route="jego.schedule.detail"
                        {#:show-selection="acl.can('customer.deleter')"
                        :allow-inline-edit="acl.can('customer.editor')"#}
                        :is-loading="isLoading"
                        :disable-data-fetching="true"
                        {#@selection-change="updateSelection"#}
                        @inline-edit-save="onInlineEditSave"
                        @page-change="onPageChange"
                        @column-sort="onSortColumn"
                >
                    <template #actions="{ item }">
                        {% block sw_customer_list_grid_columns_actions_view %}
                            <sw-context-menu-item
                                    class="sw-customer-list__view-action"
                                    :router-link="{ name: 'jego.bundle.schedule.scheduleDetail', params: { id: item.id }, query: { edit: false } }"
                            >
                                {#{{ $tc('sw-customer.list.contextMenuView') }}#}
                                A
                            </sw-context-menu-item>
                            <sw-context-menu-item
                                    class="sw-customer-list__view-action"
                                    :router-link="{ name: 'jego.schedule.detail', params: { id: item.id }, query: { edit: false } }"
                            >
                                {#{{ $tc('sw-customer.list.contextMenuView') }}#}

                            </sw-context-menu-item>
                        {% endblock %}

                       {# {% block sw_customer_list_grid_columns_actions_edit %}
                            <sw-context-menu-item
                                    class="sw-customer-list__edit-action"
                                    :disabled="!acl.can('customer.editor')"
                                    :router-link="{ name: 'sw.customer.detail.base', params: { id: item.id }, query: { edit: true } }"
                            >
                                {{ $tc('sw-customer.list.contextMenuEdit') }}
                            </sw-context-menu-item>
                        {% endblock %}#}
                    </template>
                </sw-entity-listing>
            </div>
        </template>
    </sw-page>
{% endblock %}