{% block jego_bundle_info %}
    <sw-page class="jego-bundle-info">
        <template slot="content">
            <sw-card-view>
                <h1 class="jego-bundle-info__content-header">{{ $tc('jego.bundle.page.overview.title') }}</h1>
                {% block jego_bundle_info_settings %}
                    <sw-card class="jego-bundle-info__card">
                        {% block jego_bundle_info_settings_content %}
                            <div class="jego-bundle-info__content-grid" {# :id="`sw-settings__content-grid-${settingsGroup}`" #}>
                                <sw-settings-item v-for="settingsItem in settingsGroups"
                                                  :key="settingsItem.name"
                                                  :label="$tc(settingsItem.label)"
                                                  :to="settingsItem.to"
                                                  :id="settingsItem.id"
                                                  :backgroundEnabled="settingsItem.backgroundEnabled">
                                    <template #icon>
                                        <component v-if="settingsItem.iconComponent"
                                                   :is="settingsItem.iconComponent"></component>
                                        <sw-icon v-else :name="settingsItem.icon"></sw-icon>
                                    </template>
                                </sw-settings-item>
                            </div>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}